.success-stories-container {
  background-color: black;
  color: white;
  text-align: center;
  padding: 4rem 2rem;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
}

.success-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.success-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
}

.testimonial-card {
  background: #111;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}

.testimonial-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.testimonial-text {
  color: #bbb;
  font-size: 0.9rem;
}

.highlight {
  color: #bada55;
  font-weight: bold;
}
